@use "sass:map";

$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1536px
);

@mixin media($size) {
  $width: map.get($breakpoints, $size);

  @if $width {
    @media (max-width: $width) {
      @content;
    }
  } @else {
    @warn "Нет такого брейкпоинта: #{$size}";
  }
}